@import "tailwindcss";

@keyframes slowZoom {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

@layer utilities {
  .animate-slowZoom {
    animation: slowZoom 20s ease-in-out infinite;
  }

  .spinner {
    border-color: transparent;
    border-top-color: #f97316; /* Tailwind orange-500 */
    border-bottom-color: #f97316;
    border-width: 4px;
    border-style: solid;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
/* Optional custom styles here */


html {
  scroll-behavior: smooth;
}

